@*<link type="text/css" media="screen" rel="stylesheet" href="https://www.jqueryscript.net/demo/jQuery-In-Place-Image-Cropping-Plugin-cropbox/jquery.cropbox.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
    <script type="text/javascript" src="https://www.jqueryscript.net/demo/jQuery-In-Place-Image-Cropping-Plugin-cropbox/jquery.cropbox.js"></script>
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/hammer.js/1.0.10/hammer.js"></script>
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery-mousewheel/3.1.11/jquery.mousewheel.js"></script>



    <div class="simple-cropper-images" style="background-color:white">



        <div class="container">
            <img class="cropimage" src="~/Content/images/TTProjetPlus_Boomerang_images/files/phototheque/3622/truc1.png" cropwidth="200" cropheight="100">
            <div class="results"> <b>X</b>: <span class="cropX"></span> <b>Y</b>: <span class="cropY"></span> <b>W</b>: <span class="cropW"></span> <b>H</b>: <span class="cropH"></span> </div>
            <div class="download"> <a href="#" download="crop.png">Download</a> </div>
        </div>
        <script type="text/javascript">
            //https://hackthestuff.com/article/how-to-crop-image-using-croppie-jquery-plugin-in-your-web-application


        </script>
        <script type="text/javascript" defer>
            $(function () {
                $('.cropimage').each(function () {
                    var image = $(this),
                        cropwidth = image.attr('cropwidth'),
                        cropheight = image.attr('cropheight'),
                        results = image.next('.results'),
                        x = $('.cropX', results),
                        y = $('.cropY', results),
                        w = $('.cropW', results),
                        h = $('.cropH', results),
                        download = results.next('.download').find('a');

                    image.cropbox({ width: cropwidth, height: cropheight, showControls: 'auto' })
                        .on('cropbox', function (event, results, img) {
                            x.text(results.cropX);
                            y.text(results.cropY);
                            w.text(results.cropW);
                            h.text(results.cropH);
                            download.attr('href', img.getDataURL());
                        });
                });

            });
        </script>
    </div>*@


<link href="https://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css">
<!-- Css files-->
<link rel="stylesheet" type="text/css" href="~/Content/Cropper/css/style.css" />
<link rel="stylesheet" type="text/css" href="~/Content/Cropper/css/style-example.css" />
<link rel="stylesheet" type="text/css" href="~/Content/Cropper/css/jquery.Jcrop.min.css" />
<!-- Js files-->
<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<script type="text/javascript" src="~/Content/Cropper/scripts/jquery.Jcrop.js"></script>
<script type="text/javascript" src="~/Content/Cropper/scripts/jquery.SimpleCropper.js"></script>



<style type="text/css">
    #croppie-demo {
        width: 350px;
    }

    #croppie-container {
        padding-top: 30px;
    }

    #croppie-view {
        background: #e1e1e1;
        width: 300px;
        padding: 30px;
        height: 300px;
        margin-top: 30px
    }

    #fileInput{
        display:none;
    }
</style>
<div class="simple-cropper-images" style="background-color:white">
    <h1>Simple Image Cropper Example</h1>
    <div id="carbon-block"></div>
    <div>
        <script type="text/javascript">
        </script>
    </div>
    <p class="lead">A simple jQuery image cropper plugin that allows you to crop an image to a specific dimension on the client side.</p>
    <div class="cropme" width="400" height="250" alt="" style="background: none; border: none;" id="1">
    <img id="croppedImg" class="cropimage" src="~/ImagesFolder/IMageName.jpeg"  style="width: 400px; height: 250px;">
    </div>
    <button id="save">Save</button>
    <script>
        $('.cropme').simpleCropper();

        $('#save').click(function ()
        {
            var imgString = $('.cropme').children('img').attr('src');

            $.ajax({
                type: 'post',
                url: '@Url.Action("updateImg", "Boomerang")',
                proccessData: false,
                dataType: "json",
                data: {
                    img: imgString
                },
                success: function (status) {
                    if (status.newImg != "failed")
                    {
                        location.href = '@Url.Action("CropperTest", "Boomerang")'
                    }
                    else
                    {
                        alert("probléme...");
                    }
                    $('#loadingGIF2').hide()
                },
                error: function ()
                {
                    alert("Whoops something went wrong!");
                    $('#loadingGIF2').hide()

                }
               
            });
        });
    </script>

    <script type="text/javascript">
        //https://hackthestuff.com/article/how-to-crop-image-using-croppie-jquery-plugin-in-your-web-application
    </script>
</div>

