<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="Admins" value="TT\frederic.ohnona,TT\richard.ruel,TT\sylvain.martel,TT\michelle.lainesse, TT\elena.petrescu" />
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="MvcSiteMapProvider_IncludeAssembliesForScan" value="TetraTech.TTProjetPlus" />
    <add key="MvcSiteMapProvider_UseExternalDIContainer" value="false" />
    <add key="MvcSiteMapProvider_ScanAssembliesForSiteMapNodes" value="true" />
    <!--<add key="ADConfig_TTUsers" value="10.103.2.12:389~OU=TTUsers,DC=tt,DC=local~BPR.SVC.MailMgmt@tt.local:rBwWR-f&gt;cpbd8(=@Ee+g65#D_~Tetratech TT~TT" />
    <add key="ADConfig_TTGroups" value="10.103.2.12:389~OU=TTProject,OU=TTGroups,DC=tt,DC=local~BPR.SVC.MailMgmt@tt.local:rBwWR-f&gt;cpbd8(=@Ee+g65#D_~Tetratech TT~TT" />
	    -->
    <add key="ADConfig_TTUsers" value="10.103.2.12:389~OU=TTUsers,DC=tt,DC=local~BPR.Svc.BPRProjet@tt.local:S74Da^,R32rA,duRk4!64)hG,~Tetratech TT~TT" />
    <add key="ADConfig_TTGroups" value="10.103.2.12:389~OU=TTProject,OU=TTGroups,DC=tt,DC=local~BPR.Svc.BPRProjet@tt.local:S74Da^,R32rA,duRk4!64)hG,~Tetratech TT~TT" />	
    <add key="DeleteBatchFile" value="1" />
    <add key="RapportModele10" value="Arborescence des répertoires - Modèle Standard QIB" />
    <add key="RapportModele11" value="Arborescence des répertoires - Modèle MTQ" />
    <add key="RapportModele12" value="Arborescence des répertoires - Modèle Standard Tetra Tech Industries" />
    <add key="RapportModele20" value="Arborescence des répertoires - Modèle QIB Bâtiment" />
    <add key="RapportModele30" value="Arborescence des répertoires - Modèle TQE - Industries et Énergie" />
    <add key="RapportModeleProjet" value="Arborescence des répertoires pour un projet" />
    <add key="aspnet:SuppressSameSiteNone" value="true" />
    <add key="TTProjetPlusUrl" value="http://ttprojetplusdev.tetratech.com" />
    <add key="TTIndexUrl" value="http://archivestqc.tetratech.com:1100" />
    <add key="BoomerangUrl" value="http://boomerang.tetratech.com/" />
    <add key="TQEModelExceptions" value="TT\frederic.ohnona,TT\KIMBERLYNNE.CARTER" />
    <add key="TTProjetPlusUserNasuni" value="BPR.SVC.MailMgmt" />
    <add key="TTProjetPlusPwdNasuni" value="rBwWR-f&gt;cpbd8(=@Ee+g65#D_" />
    <add key="TTProjetPlusEnvrNasuni" value="TT.Local" />
    <add key="TTProjetPlusconnectionStringBPRProjetUser" value="data source = tts349test02; initial catalog = TTProjetPlus; user id = BPRProjetUser; password = BPRProjetUser; MultipleActiveResultSets = True; App = EntityFramework" />
    <add key="TTProjetPlusconnectionStringBPRProjetConf" value="data source = tts349test02; initial catalog = BPRProjet; user id = BPRProjetUser; password = BPRProjetUser; MultipleActiveResultSets = True; App = EntityFramework" />
    <add key="LecteurReseau" value="\\etss349arc1.tt.local\Trans\Raccourcis_Projets" />
    <add key="LecteurSpecialMontrealPrj_Usine_3D" value="\\etss349nf2.tt.local\CAVolume2\Legacy\tts350fs3\Prj_Usine" />
    <add key="LecteurSpecialQuebecTTIPrj_Usine_3D" value="\\etss349nf2.tt.local\CAVolume2\Legacy\tts349fs3\Prj_Usine" />
    <add key="LecteurSpecialMontrealSuncor" value="\\etss349nf2.tt.local\CAVolume2\Legacy\tts350fs3\SuncorV8i" />
    <add key="LecteurSpecialJonquierePrj_Usine_3D" value="\\etss349nf2.tt.local\CAVolume2\Legacy\tts351fs1\Prj_usine" />
	<add key="FichierQIBSatisfactionClient" value="\\tt.local\gfs\CAVolume2\Legacy\tts349fs3\Dept\AssQualite\SSS\Satisfaction Clients - QIB.xlsm" />
	<add key="FichierTQESatisfactionClient" value="\\tt.local\gfs\CAVolume2\Legacy\tts349fs3\Dept\AssQualite\Tableau de bord qualité TQE.xlsx" />
	<add key="CourrielTestSatisfactionClient" value="rapports@tetratech.com" />
	<add key="CourrielTestSatisfactionClientTQE" value="rapports@tetratech.com" />
	<add key="CourrielQIBSatisfactionClientFROM" value="jeanphilippe.coin@tetratech.com" />
	<add key="CourrielQIBSatisfactionClientCC" value="rapports@tetratech.com" />
	<add key="CourrielTQESatisfactionClientFROM" value="TQC.Qualite@tetratech.com" />
	<add key="CourrielTQESatisfactionClientCC" value="rapports@tetratech.com" />
	<add key="CourrielQIBConfirmationSatisfactionClientTo" value="rapports@tetratech.com" />
	<add key="CourrielQIBConfirmationSatisfactionClientFROM" value="jeanphilippe.coin@tetratech.com" />
	<add key="CourrielQIBConfirmationSatisfactionClientCC" value="rapports@tetratech.com" />
    <add key="CourrielTQEConfirmationSatisfactionClientTo" value="rapports@tetratech.com" />
	<add key="CourrielTQEConfirmationSatisfactionClientFROM" value="TQC.Qualite@tetratech.com" />
	<add key="CourrielTQEConfirmationSatisfactionClientCC" value="rapports@tetratech.com" />


  </appSettings>
  <system.web>
    <compilation targetFramework="4.6.1" debug="true" />
    <httpRuntime targetFramework="4.6.1" maxUrlLength="10999" maxQueryStringLength="2097151" requestPathInvalidCharacters="" />
	 <httpCookies sameSite="Lax" requireSSL="false" />
   <sessionState cookieSameSite="Lax" /> 
    <authentication mode="Windows" />
    <authorization>
      <deny users="?" />
    </authorization> 
    <httpModules />
    <pages>
      <namespaces>
        <add namespace="Kendo.Mvc.UI" />
        <add namespace="MvcSiteMapProvider.Web.Html" />
        <add namespace="MvcSiteMapProvider.Web.Html.Models" />
      </namespaces>
    </pages>
  </system.web>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="50000000" />
      </webServices>
    </scripting>
  </system.web.extensions>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.1" newVersion="4.0.2.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxQueryString="32768" />
      </requestFiltering>
    </security>
    <modules>
      <remove name="UrlRoutingModule-4.0" />
      <add name="UrlRoutingModule-4.0" type="System.Web.Routing.UrlRoutingModule" />
    </modules>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <connectionStrings>
    <!-- PROD 
    <add name="SuiviMandatEntitiesNew" connectionString="metadata=~/bin/Data\SuiviMandatNew.csdl|~/bin/Data\SuiviMandatNew.ssdl|~/bin/Data\SuiviMandatNew.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ETSS704SQL1\ETSS704SQL1_2016,49284;initial catalog=SuiviMandat;persist security info=True;user id=TLX_USER;password=tlxuser!@#prd;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="BPRProjetEntitiesNew" connectionString="metadata=res://*/Data.BPRProjetNew.csdl|res://*/Data.BPRProjetNew.ssdl|res://*/Data.BPRProjetNew.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=TTS349SQLDEV\SK2016;initial catalog=BPRProjet;user id=BPRProjetUser;password=BPRProjetUser;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="TTProjetPlusEntitiesNew" connectionString="metadata=res://*/Data.TTProjetPlusModel.csdl|res://*/Data.TTProjetPlusModel.ssdl|res://*/Data.TTProjetPlusModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=TTS349SQLDEV\SK2016;initial catalog=TTProjetPlus;user id=BPRProjetUser;password=BPRProjetUser;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="SuiviMandatEntitiesNew2" connectionString="metadata=res://*/Data.SuiviMandatNew.csdl|res://*/Data.SuiviMandatNew.ssdl|res://*/Data.SuiviMandatNew.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ETSS704SQL1\ETSS704SQL1_2016,49284;initial catalog=SuiviMandat;persist security info=True;user id=TLX_USER;password=tlxuser!@#prd;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  -->
    <!--QA
    <add name="SuiviMandatEntitiesNew" connectionString="metadata=res://*/Data.SuiviMandatModel.csdl|res://*/Data.SuiviMandatModel.ssdl|res://*/Data.SuiviMandatModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ETSS704SQLDEVQA\ETSS704SQL16_QA,56310;initial catalog=SuiviMandat;persist security info=True;user id=TLX_USER;password=tlxuser!@#Qa;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="BPRProjetEntitiesNew" connectionString="metadata=res://*/Data.BPRProjetNew.csdl|res://*/Data.BPRProjetNew.ssdl|res://*/Data.BPRProjetNew.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=TTS349TEST01;initial catalog=BPRProjet;user id=BPRProjetUser;password=BPRProjetUser;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="TTProjetPlusEntitiesNew" connectionString="metadata=res://*/Data.TTProjetPlusNew.csdl|res://*/Data.TTProjetPlusNew.ssdl|res://*/Data.TTProjetPlusNew.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=TTS349TEST01;initial catalog=TTProjetPlus;user id=BPRProjetUser;password=BPRProjetUser;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    -->
    <!--DEV
    <add name="SuiviMandatEntitiesNew" connectionString="metadata=~/bin/Data\SuiviMandatNew.csdl|~/bin/Data\SuiviMandatNew.ssdl|~/bin/Data\SuiviMandatNew.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=TTS349TEST02;initial catalog=SuiviMandat;persist security info=True;user id=TLX_USER;password=tlxuser!@#DeV;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="BPRProjetEntitiesNew" connectionString="metadata=res://*/Data.BPRProjetNew.csdl|res://*/Data.BPRProjetNew.ssdl|res://*/Data.BPRProjetNew.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=TTS349TEST02;initial catalog=BPRProjet;user id=BPRProjetUser;password=BPRProjetUser;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="TTProjetPlusEntitiesNew" connectionString="metadata=res://*/Data.TTProjetPlusModel.csdl|res://*/Data.TTProjetPlusModel.ssdl|res://*/Data.TTProjetPlusModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=tts349test02;initial catalog=TTProjetPlus;user id=BPRProjetUser;password=BPRProjetUser;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SuiviMandatEntitiesNew2" connectionString="metadata=res://*/Data.SuiviMandatNew.csdl|res://*/Data.SuiviMandatNew.ssdl|res://*/Data.SuiviMandatNew.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=tts349test02;initial catalog=SuiviMandat;user id=BPRProjetUser;password=BPRProjetUser;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />    
   -->
	  
	  <!-- version a mettre en prod:-->
	  
	<!--  
	  <add name="SuiviMandatEntitiesNew" connectionString="metadata=~/bin/Data\SuiviMandatNew.csdl|~/bin/Data\SuiviMandatNew.ssdl|~/bin/Data\SuiviMandatNew.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=TQCS349SQL1\BPRSQL;initial catalog=SuiviMandat;persist security info=True;user id=TLX_USER;password=tlxuser!@#prd;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
	  <add name="BPRProjetEntitiesNew" connectionString="metadata=res://*/Data.BPRProjetNew.csdl|res://*/Data.BPRProjetNew.ssdl|res://*/Data.BPRProjetNew.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=TQCS349SQL1\BPRSQL;initial catalog=BPRProjet;user id=BPRProjetUser;password=BPRProjetUser;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
	  <add name="TTProjetPlusEntitiesNew" connectionString="metadata=res://*/Data.TTProjetPlusModel.csdl|res://*/Data.TTProjetPlusModel.ssdl|res://*/Data.TTProjetPlusModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=TQCS349SQL1\BPRSQL;initial catalog=TTProjetPlus;persist security info=True;user id=BPRProjetUser;password=BPRProjetUser;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
	  <add name="SuiviMandatEntitiesNew2" connectionString="metadata=res://*/Data.SuiviMandatNew.csdl|res://*/Data.SuiviMandatNew.ssdl|res://*/Data.SuiviMandatNew.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=TQCS349SQL1\BPRSQL;initial catalog=SuiviMandat;persist security info=True;user id=TLX_USER;password=tlxuser!@#prd;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
	  <add name="TTProjetPlusEntitiesProd" connectionString="metadata=res://*/Data.TTProjetPlusEntitiesProd.csdl|res://*/Data.TTProjetPlusEntitiesProd.ssdl|res://*/Data.TTProjetPlusEntitiesProd.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=TQCS349SQL1\BPRSQL;initial catalog=TTProjetPlus;user id=BPRProjetUser;password=BPRProjetUser;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	  <add name="AD_TT_LOCAL_BPREntities1" connectionString="metadata=res://*/Data.AD_TT_LOCAL_BPR1.csdl|res://*/Data.AD_TT_LOCAL_BPR1.ssdl|res://*/Data.AD_TT_LOCAL_BPR1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=TQCS349SQL1\BPRSQL;initial catalog=AD_TT_LOCAL_BPR;persist security info=True;user id=BPRProjetUser;password=BPRProjetUser;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	  <add name="AdministrationEntities" connectionString="metadata=res://*/Data.AdministrationEntities.csdl|res://*/Data.AdministrationEntities.ssdl|res://*/Data.AdministrationEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=TQCS349SQL1\BPRSQL;initial catalog=Administration;persist security info=True;user id=BPRProjetUser;password=BPRProjetUser;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
 -->





	  <add name="SuiviMandatEntitiesNew" connectionString="metadata=~/bin/Data\SuiviMandatNew.csdl|~/bin/Data\SuiviMandatNew.ssdl|~/bin/Data\SuiviMandatNew.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=TQCS349SQL1\BPRSQL;initial catalog=SuiviMandat;persist security info=True;user id=TLX_USER;password=tlxuser!@#prd;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
	  <add name="BPRProjetEntitiesNew" connectionString="metadata=res://*/Data.BPRProjetNew.csdl|res://*/Data.BPRProjetNew.ssdl|res://*/Data.BPRProjetNew.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=TQCS349SQL1\BPRSQL;initial catalog=BPRProjet;user id=BPRProjetUser;password=BPRProjetUser;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
	  <add name="TTProjetPlusEntitiesNew" connectionString="metadata=res://*/Data.TTProjetPlusModel.csdl|res://*/Data.TTProjetPlusModel.ssdl|res://*/Data.TTProjetPlusModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=TQCS349SQL1\BPRSQL;initial catalog=TTProjetPlus;persist security info=True;user id=BPRProjetUser;password=BPRProjetUser;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
	  <add name="SuiviMandatEntitiesNew2" connectionString="metadata=res://*/Data.SuiviMandatNew.csdl|res://*/Data.SuiviMandatNew.ssdl|res://*/Data.SuiviMandatNew.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=TQCS349SQL1\BPRSQL;initial catalog=SuiviMandat;persist security info=True;user id=TLX_USER;password=tlxuser!@#prd;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
	  <add name="TTProjetPlusEntitiesProd" connectionString="metadata=res://*/Data.TTProjetPlusEntitiesProd.csdl|res://*/Data.TTProjetPlusEntitiesProd.ssdl|res://*/Data.TTProjetPlusEntitiesProd.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=TQCS349SQL1\BPRSQL;initial catalog=TTProjetPlus;user id=BPRProjetUser;password=BPRProjetUser;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	  <add name="AD_TT_LOCAL_BPREntities1" connectionString="metadata=res://*/Data.AD_TT_LOCAL_BPR1.csdl|res://*/Data.AD_TT_LOCAL_BPR1.ssdl|res://*/Data.AD_TT_LOCAL_BPR1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=TQCS349SQL1\BPRSQL;initial catalog=AD_TT_LOCAL_BPR;persist security info=True;user id=BPRProjetUser;password=BPRProjetUser;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	  <add name="AdministrationEntities" connectionString="metadata=res://*/Data.AdministrationEntities.csdl|res://*/Data.AdministrationEntities.ssdl|res://*/Data.AdministrationEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=TQCS349SQL1\BPRSQL;initial catalog=Administration;persist security info=True;user id=BPRProjetUser;password=BPRProjetUser;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>




  </connectionStrings>
</configuration>
<!--ProjectGuid: 711571B3-19EC-4459-8AC4-E60D65D6EC71-->