@using GlobalResources = Resources.TTProjetPlusResource
@model TetraTech.TTProjetPlus.Models.BaseViewModel

<div class="myBreadCrumbs">
    <div class="row  ">
        <ul class="breadcrumbf">
            <li><a href="@Url.Action("Index", "TTProjet")">TT Projet +  /</a></li>
            <li style="color:white ; font-weight: bold">@ViewBag.Title</li>
        </ul> 
    </div>
</div>  
